@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #000;
$white: #fff;
$blue: #00d5ff;
$pink: #ff00e1;

:root {
    color: $black;
    background-color: $white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color-scheme: light dark;
}

.border-b {
    border-bottom: 1px solid $black;
}

.btn {
    text-decoration: none;
    color: $black;
    padding: 15px 10px;
    background: none;
}

.btn:hover, .card-container:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 1px $black;
}

.btn-dark-mode {
    padding: 0;
    height: 50px;
    width: 75px;
}

.btn-dark-mode:hover {
    background-color: $blue;
}

svg {
    height: 75%;
    width: 100%;
}

.btn-searchbar {
    font-size: 16px;
}

.btn-searchbar:hover {
    background-color: $pink;
}

.searchbar-container {
    // @include gutter-mixin;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchbar-field {
            height: 50px;
            width: 78%;
            padding: 15px;
            font-size: 16px;
        }
    }
}

.card {
    display: grid;
    grid-template-columns: auto;

    .card-container {
        margin: 15px;
        height: auto;

        .card-header, p, h4 {
            padding: 15px;
        }

        .card-header {
            min-height: 100px;
        }

        .card-body {
            height: 150px;
        }

        .card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn-article {
                border: none;
                border-left: 1px solid $black;
                border-radius: 0px;
                padding: 15px;
                text-decoration: none;
                color: $black;
            }

            .btn-article:hover {
                text-decoration: underline;
                background-color: $blue;
            }
        }
    }
}

@media (min-width: 760px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer-container {
    justify-content: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    animation: fade 2s linear;
  }
  
  @keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

  @media (prefers-color-scheme: light) {
    :root {
        color: $black;
        background-color: $white;
    }    
  }

  @media (prefers-color-scheme: dark) {
    :root {
        color: $white;
        background-color: $black;

        .border {
            border: 1px solid $white;
        }
        
        .border-b {
            border-bottom: 1px solid $white;
        }

        .btn {
            color: $white;
        }

        .btn:hover, .card-container:hover {
            box-shadow: 3px 3px 1px $white;
        }

        .btn-dark-mode:hover {
            background-color: $blue;
        }

        .btn-searchbar:hover {
            background-color: $pink;
        }

        .card {
            .card-container {
                .card-footer {
                    .btn-article {
                        border-left: 1px solid $white;
                        color: $white;
                    }
                }
            }
        }
    }
}