$primary-color: #000;
$secondary-color: #fff;

@mixin gutter-mixin {
    padding-left: 15px;
    padding-right: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border: 1px solid $primary-color;
    border-radius: 5px;
}

.border-b {
    border-bottom: 1px solid $primary-color;
}


.navbar-container {
    @include gutter-mixin;
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.btn {
    text-decoration: none;
    color: $primary-color;
    padding: 15px 10px;
    background: none;
}

.btn:hover, .card-container:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 1px $primary-color;
}

.btn-dark-mode {
    padding: 0;
    height: 50px;
    width: 75px;
}

svg {
    height: 75%;
    width: 100%;
}

.btn-searchbar {
    font-size: 16px;
}

.searchbar-container {
    @include gutter-mixin;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .searchbar-field {
            height: 50px;
            width: 78%;
            padding: 15px;
            font-size: 16px;
        }
    }
}

.card-container {
    margin: 15px;
    height: auto;
    
    .card-image-container {
        width: 100%;
        height: 60%;
        position: relative;
        overflow: hidden;
        object-fit: cover;
    }

    h4, p {
        padding: 15px;
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-article {
            border: none;
            border-left: 1px solid $primary-color;
            border-radius: 0px;
            padding: 15px;
            text-decoration: none;
            color: $primary-color;
        }
    }
}

